<template>
    <div>
        <input type="text" v-model="newtask" placeholder="Add a new task"><button v-on:click="addTask" >+</button>
    </div>
</template>

<script>
export default {
  name: 'task-input',
  data () {
    return {
      newtask:''
    }
  },
  methods:{
    addTask:function(){
      //console.log(this.newtask);
      this.$emit('addTask', this.newtask);
      this.newtask = '';
    }
  }
}
</script>

<style>
</style>
