<template>
  <ul>
    <li v-for="task in tasks" >
      <input type="checkbox" name="checkbox" v-model="task.done" >
      <label for="checkbox" v-bind:class="{taskDone:task.done}">{{ task.title }}</label>
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    tasks:{
      type:Array,
      required:true
    }
  },
  data () {
    return {
    }
  }
}
</script>

<style scoped>
.taskDone {
    text-decoration: line-through;
}
</style>
