<template>
  <div id="app">
    <img src="./assets/logo.png">
    <h1>{{ msg }}</h1>
    <tasks v-bind:tasks="tasks"></tasks>
    <task-input v-on:addTask=updateTasks($event) ></task-input>
  </div>
</template>

<script>
import Tasks from './components/Tasks';
import Input from './components/Input';

export default {
  components:{
    'tasks':Tasks,
    'task-input':Input
  },
  name: 'app',
  data () {
    return {
      msg: 'Tasks',
      tasks: [
        {
          title: 'this task is done',
          done: true
        },
        {
          title: 'this task is also done',
          done: true
        },
        {
          title: 'this task is not done',
          done: false
        }
      ]
    }
  },
  methods:{
    updateTasks: function(newTask){
      this.tasks.push({
        title:newTask,
        done:false
      });
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  //display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
